[submodule "submodules/p4c-bm"]
	path = submodules/p4c-bm
	url = https://github.com/p4lang/p4c-bm.git
[submodule "submodules/dpl-benchmark"]
	path = submodules/dpl-benchmark
	url = git@github.com:usi-systems/dpl-benchmark.git
