*.pyc
generatedbsv/
generatedcpp/
bluesim/
*.dot
*.png

*.o
*.d
*~
*.log
*.swp
*.lp
*.pyc
*.lo
*.la
.deps
.libs

c++/ext/lib/
c++/test/bin/
c++/ext/src/gtest/Makefile
c++/ext/src/gtest/build-aux/config.h
c++/ext/src/gtest/build-aux/stamp-h1
c++/ext/src/gtest/config.status
c++/ext/src/gtest/lib/
c++/ext/src/gtest/libtool
c++/ext/src/gtest/samples/.dirstamp
c++/ext/src/gtest/scripts/gtest-config
c++/ext/src/gtest/src/.dirstamp
bin/
build/

*.json
*.yml

dist/
p4c_bm.egg-info/
pif_ir/
