[submodule "p4c"]
	path = p4c
	url = https://github.com/p4lang/p4c.git
[submodule "connectal"]
	path = connectal
	url = https://github.com/cambridgehackers/connectal.git
[submodule "fpgamake"]
	path = fpgamake
	url = https://github.com/cambridgehackers/fpgamake.git
